:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: #007bff;
  background-color: #3BB2E2;
}

.card {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card .card-body {
  padding: 2rem;
}

.header {
  background-color: #71C2F7;
  height: 3.5rem;
}

.userlink {
  color: #FFF;
  font-size: 1.5rem;
}

nav a:hover {
  color: #565656;
}
